<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chhouk's Homework 9</title>
    <link href="/styles.css" rel="stylesheet" type="text/css">
</head>
<body>
    <h1>Chhouk's Homework 9</h1>
    <h2>Links:</h2>
    <a href="/ex1">Exercise 1 - Order - Process a Form</a><br>
    <a href="/api/countries">Exercise 2 - Send JSON to API</a><br>
    <a href="/articles">Exercise 3 - Process a Form</a><br>
</body>
</html>
